<!DOCTYPE html>
<html>
<head>
    <base href="{{ .Site.BaseUrl }}">
    <title> {{ .Title }} </title>
    <link rel="canonical" href="{{ .Permalink }}">
    {{ if .RSSlink }}<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}
    {{ partial "head_includes.html" . }}
</head>

<body>
    {{ partial "page_header.html" . }}

    <div class="content-wrapper">
        <div class="content">
            <h2>Oops not found</h2>
        </div>
    {{ partial "page_footer.html" . }}
    </div>
</body>

</html>