<!DOCTYPE html>
<html>
<head>
    <base href="{{ .Site.BaseUrl }}">
    <title> {{ .Title }} </title>
    <link rel="canonical" href="{{ .Permalink }}">
    {{ if .RSSlink }}<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}
    {{ partial "head_includes.html" . }}
</head>

<body>
    {{ partial "page_header.html" . }}

    <div class="content-wrapper">
        <div class="content">
            <h2> Leadership </h2>
            <p>
                We are a team of seasoned industry veterans with an accomplished track record of delivering compelling products and technology that surpass our customer's highest expectations.
            </p>

            {{ range .Data.Pages }}

            {{ end }}
            <h2 class="sutter-hill-ventures">
              <a href="http://shv.com/" target="_blank">
                Sutter Hill Ventures
              </a>
            </h2>

            <p>
              Sutter Hill Ventures has financed technology-based start-ups and assisted entrepreneurs in building market-leading companies since 1962.
            </p>
        </div>
    {{ partial "contact_us.html" . }}
    {{ partial "page_footer.html" . }}
    </div>
</body>

</html>