<!-- purecss.io -->
<link rel="stylesheet" href="/styles/pure/pure-min.css">
<!--[if lte IE 8]>
    <link rel='stylesheet' href='/styles/pure/grids-responsive-old-ie-min.css'>
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/styles/pure/grids-responsive-min.css">
<!--<![endif]-->

<!-- custom fontawesome-icons -->
<link rel="stylesheet" href="/styles/fontawesome-skyport/css/fontawesome-skyport.css">
<link rel="stylesheet" href="/styles/fontawesome-skyport/css/animation.css">
<!--[if IE 7]>
    <link rel="stylesheet" href="/styles/fontawesome-skyport/css/fontawesome-skyport-ie7.css">
<![endif]-->

<!-- pure marketing layout overrides -->
<!--[if lte IE 8]>
    <link rel="stylesheet" href="/styles/pure/marketing-old-ie.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/styles/pure/layouts/marketing.css">
<!--<![endif]-->

<!-- skyport base css -->
<link rel="stylesheet" href="/styles/skyports.css">

<!-- footer css -->
<link rel="stylesheet" type="text/css" href="/styles/footer.css">

<!-- modernizr -->
<script src="/js/vendor/modernizr/modernizr-2.8.3.min.js"></script>
