<link rel="stylesheet" href="/styles/pure/pure-min.css">
<!--[if lte IE 8]>
    <link rel='stylesheet' href='/styles/pure/grids-responsive-old-ie-min.css'>
<![endif]-->
<!--[if gt IE 8]><!-->
<link rel="stylesheet" href="/styles/pure/grids-responsive-min.css">
<!--<![endif]-->

<link rel="stylesheet" href="/styles/font-awesome.css">

<!--[if lte IE 8]>
    <link rel="stylesheet" href="/styles/pure/marketing-old-ie.css">
<![endif]-->
<!--[if gt IE 8]><!-->
<link rel="stylesheet" href="/styles/pure/layouts/marketing.css">
<!--<![endif]-->

<link rel="stylesheet" href="/styles/base.css">
