<section class="lead-section">
  <div class='arrow-up'></div>
  <div class="lead-container pure-u-1 pure-u-md-1 pure-u-sm-1 pure-g">
    <div class='pure-g pure-u-1 lead-message'>
      <div class='pure-u-10-24'>
        Join us at RSA SF 2015!
      </div>
      <div class='pure-u-2-24'></div>
      <div class='pure-u-10-24'>
        <span>Contact Us</span>
      </div>
    </div>
    <div class="lead-button-container pure-u-1">
    </div>
    <div class="lead-form pure-u-23-24 pure-md-4-5 pure-u-sm-22-24">
      <form
        class="pure-form pure-form-stacked"
        method='POST'
        action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8">
        <fieldset>
          <!-- ###################################################################  -->
          <!-- NOTE: These fields are optional debugging elements. Please uncomment -->
          <!-- these lines if you wish to est in debug mode                         -->
          <input type='hidden' name='debug' value=1 />
          <input type='hidden' name='debugEmail' value='dbackman@skyportsystem.com' />
          <!-- ###################################################################  -->

          <input type=hidden name="oid" value="00DU0000000ME18">
          <input type=hidden name="retURL" value="http://www.skyportsystems.com">
          <div class='pure-g'>
            <div class='pure-u-1 pure-u-sm-11-24'>
              <div class="pure-control-group">
                <!-- <label for="first_name">First Name</label> -->
                <input id="first_name" name="first_name" type="text" placeholder="First Name"/>
              </div>
              <div class="pure-control-group">
                <!-- <label for="last_name">Last Name</label> -->
                <input id="last_name" name="last_name" type="text" placeholder="Last Name" />
              </div>
            </div>
            <div class='pure-u-1 pure-u-sm-2-24'></div>
            <div class='pure-u-1 pure-u-sm-11-24'>
              <div class="pure-control-group">
                <!-- <label for="email">Email</label> -->
                <input id="email" name="email" type="text" placeholder="Email" />
              </div>
              <div class="pure-control-group">
                <!-- <label for="company">Company</label> -->
                <input id="company" name="company" type="text" placeholder="Company" />
              </div>
            </div>
          </div>
          <div class='pure-u-1 center'>
            <div class='button-control'>
              <button type="submit" class="pure-button pure-button-primary" name="submit">Reach Out!</button>
            </div>
            <div class='button-control button-wrapper-to-collapse'>
              <span class='button-collapse'name="submit">Collapse</span>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>
