<div class="header">
  <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
      <a class="pure-menu-heading" href="">Skyports</a>
      <ul>
          <li class="pure-menu-selected"><a href="#">Home</a></li>
          <li><a href="#">Tour</a></li>
          <li><a href="#">Sign Up</a></li>
          <li>
            <a class="facebook" href="https://www.facebook.com/skyportsystemsinc" target="_blank">
              Follow us on facebook.
            </a>
          </li>
          <li>
            <a class="linked-in" href="https://www.linkedin.com/company/3529748?trk=tyah&trkInfo=tas%3Askyport%2Cidx%3A1-2-2" target="_blank">
              Follow us on LinkedIn.
            </a>
          </li>
          <li>
            <a class="twitter" href="https://twitter.com/skyportsystems" target="_blank">
              Follow us on Twitter.
            </a>
          </li>
      </ul>
  </div>
</div>
