<section class="rethink-section">
    <div class='arrow-up'></div>
    <h2 class="content-head is-center">RETHINK</h2>
    <div class="pure-g l-box-lrg " style="margin: 0px auto; max-width: 100%;">
        <!-- default sizing -->
        <div class="pure-u-1 pure-u-sm-22-24 pure-u-md-20-24 pure-u-lg-16-24 pure-u-xl-14-24 rethink-message" >
            <p>
                Skyport Systems is rethinking enterprise security.
            </p>
            <p>
                We believe that the enterprise requires a fundamentally new approach to security, which requires a fundamentally new approach to computing. Our approach to Hyper-secured infrastructure tightly integrates compute, security, virtualization and policy management, ultimately ensuring the security of mission-critical IT and corporate assets.
            </p>
            <p>
                To realize this vision, we’ve assembled a world-class team of visionaries, engineers, and investors, and set out to enable the secure enterprise of tomorrow. We can't wait to tell you more.  
            </p>
        </div>
    </div>
</section>
