<section class="rethink-section">
    <h2 class="content-head is-center">RETHINK</h2>
    <div class="pure-g">
        <div class="pure-u-1-1 is-center l-box">
            <p>
                Skyport Systems is rethinking enterprise security. We believe that the enterprise of today requires a fundamentally new approach to security, which requires a fundamentally new approach to computing. To realize this vision, we assembled a world-class team of visionaries, engineers, and investors, and set out to enable the secure enterprise of tomorrow. We can’t wait to tell you more.
            </p>
        </div>
    </div>
</section>
