<!DOCTYPE html>
<html>
<head>
    <base href="{{ .Site.BaseUrl }}">
    <title> {{ .Title }} </title>
    <link rel="canonical" href="{{ .Permalink }}">
    {{ if .RSSlink }}<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}
    {{ partial "head_includes.html" . }}
</head>

<body>

    {{ partial "page_header.html" . }}

    <div class="splash-container">
        <div class="splash-inner-background-container">
        </div>
        <div class="splash">
            <h1 class="splash-head"></h1>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="content">
        {{ range .Data.Pages }}
            {{ .Render "card" }}
        {{ end }}
        </div>

    {{ partial "page_footer.html" . }}
    </div>
</body>

</html>