<!DOCTYPE html>
<html class="no-js" lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <base href="{{ .Site.BaseUrl }}">
        <title>{{ .Title }}</title>
        <link rel="canonical" href="{{ .Permalink }}">
        {{ if .RSSlink }}
            <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />
        {{ end }}

        <meta name="description" content="Skyport Systems is an early stage technology company. We are building foundational technology for the next-generation Enterprise IT infrastructure.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{ partial "head_includes.html" . }}
    </head>

    <body>
        {{ partial "page_header.html" . }}
        {{ partial "splash.html" . }}

        <div class="content-wrapper">
            {{ partial "slogan.html" . }}
            {{ partial "team.html" . }}
            {{ range .Data.Pages.ByWeight }}
                {{ if isset .Params "splash" }}
                    {{ if isset .Params "template" }}
                        {{ .Render .Params.template }}
                    {{ else }}
                        {{ .Render "card" }}
                    {{ end }}
                {{ end }}

            {{ end }}

            {{ partial "page_footer.html" . }}
        </div>
        {{ partial "js_includes.html" . }}
        <script type="text/javascript" src="/js/splash.js"></script>
        <script type="text/javascript" src="/js/contact.js"></script>
    </body>
</html>
