.investor-section .ribbon, .investor-section{
    background-color: #f0f0f0;
}

.investor-section .arrow-up {
    border-bottom-color: #f0f0f0;
}

.investor-card .pure-img {
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
}

.investor-card p {
    color: #2d3e50;
}

.investor-section .content-head {
    margin:0;
    margin-bottom: 1em;
    color: #2d3e50;
    margin-top: 0.5em;
}

.investor-content {
    margin-left: auto;
    margin-right: auto;
}

.investor-content .pure-img {
    padding-bottom: 0.3em;
    margin-left: auto;
    margin-right: auto;
}

.investor-content .pure-img.index-ventures {
    padding-top: 0.3em;
}

.investor-content .pure-img.sutter-hills-ventures {
    padding-top: 1.3em;
    padding-bottom: 1em;
}

.investor-content .pure-img.intel-capital {
    width: 60px;
}

.pure-u-1.intel-capital {
    margin: 0 5.7%;
}

.investor-blurb {
    text-align: left;
}

.investor-section img {
    width: 350px;
}

.investor-section .investor-card .investor-inner-wrapper {
    padding-top: 1em;
}

.investor-section .ribbon {
    padding-bottom: 3em;
}

.investor-section .ribbon {
    text-align: center;
}

.investor-img-wrapper {
    height: 60px;
}

@media (MIN-WIDTH: 896PX) AND (MAX-WIDTH: 1041PX) {
  .pure-u-1.intel-capital {
      margin: 0 5.6%;
  }  
}

@media (MAX-WIDTH: 895PX) {
  .pure-u-1.intel-capital {
      margin: 0 5.5%;
  }  
}

@media (MAX-WIDTH: 768PX) {
    .pure-u-1.intel-capital {
        margin: 0;
    } 

    .investor-content img.pure-img {
        width: 25em;
    }

    .investor-card {
        margin-bottom: 1.5em !important;
    }

    .investor-blurb {
        padding-top: 1em;
    }

    .investor-section img {
        width: 100%;
    }

    .investor-card.intel-capital .investor-inner-wrapper, .investor-card.sutter-hills-ventures .investor-inner-wrapper {
        padding-top: 0;
    }

    .investor-card.sutter-hills-ventures .investor-img-wrapper {
        height: 20px;
    }

    .investor-content .pure-img.sutter-hills-ventures {
        padding-top: 0;
    }
}