.joinus-section .ribbon {
    background: white;
    margin: 0 auto 1em; 
	max-width: 100%;
    width: 25em; 
}

.joinus-section .content-head {
    color: #2d3e50;
}

.joinus-section .ribbon .pure-u-1 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.joinus-section .button-control {
    text-align: center;
}