.joinus-section .ribbon {
    background: white;
//    margin-bottom: 1em;
    margin: 0 auto 1em; // FF fix
    width: 40%; // FF fix
}

.joinus-section .content-head {
    color: #2d3e50;
}

.joinus-section .ribbon .pure-u-1 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
