/* skyports css overrides the css set in marketing.css, marketing.css is a template css provided by pure css - http://purecss.io/layouts/marketing/ */
/* header */

.home-menu.pure-menu-open {
    /*background: #f47d20;*/
    background: white;
    border-bottom: 0;
    color: black;
    box-shadow: none;
}

.home-menu {
    padding: 0;
}

.skyports-logo-mini {
    background: url(/images/logo-small.png) center center no-repeat;
    background-image : -webkit-linear-gradient(transparent,transparent), url(/images/logo-small-black.svg);
    background-image : linear-gradient(transparent,transparent), url(/images/logo-small-black.svg);
    position: relative;
    display:block;
    float:left;
    width: 100%;
    min-height: 44px;

    /* golden ratio */
    background-size: auto 61%;
}

/* splash */

.splash-head {
    background: url(/images/logo.png) center no-repeat;
    background-image : -webkit-linear-gradient(transparent,transparent), url(/images/logo.svg);
    background-image : linear-gradient(transparent,transparent), url(/images/logo.svg);
    background-size: contain;
    height: 162px; /* PHI */
    border: none;
}

.splash-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.splash-inner-background-container {
    background-color: ghostwhite;
    opacity: 0.6;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* content controls */

.content-wrapper {
    top: 88%;
}

section.rethink-section h2 {
    color: #f47d20;
    font-size: 3em;
    margin: 1.5em 0 0em;
}

section.rethink-section p {
    color: #777;
    font-size: 1.2em;
    margin-bottom: 3.5em;
}

section.rethink-section .pure-u-1 {
    margin-top:2em;
    margin-left: auto;
    margin-right: auto;
}

div.l-box {
    padding: 2em;
}

.contact-section .ribbon .pure-u-1 {
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: justify;
}

section h1 {
    font-size: 3em;
    text-align: center;
}

section h1.content-head {
    margin-top: 1em;
    margin-bottom: 1.5em;
}
/* contact section css */
.contact-section a.mail-wrapper, .contact-section a.mail-wrapper:hover, .contact-section a.mail-wrapper:visited {
    text-decoration: none;
    color: inherit;
}

.contact-section a.mail-wrapper:hover {
    color: #f47d20; /* skyport orange */
}
