/* skyports css overrides the css set in marketing.css, marketing.css is a template css provided by pure css - http://purecss.io/layouts/marketing/ */
.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}
/* header */

.home-menu.pure-menu-open {
    /*background: #f47d20;*/
    background: white;
    border-bottom: 0;
    color: black;
    box-shadow: none;
}

.home-menu {
    padding: 0;
}

.skyports-logo-mini {
    background: url(/images/logo-small.png) center center no-repeat;
    background-image : -webkit-linear-gradient(transparent,transparent), url(/images/logo-small.svg);
    background-image : linear-gradient(transparent,transparent), url(/images/logo-small.svg);
    position: relative;
    display:block;
    float:left;
    width: 100%;
    min-height: 44px;

    /* golden ratio */
    background-size: auto 61%;
}
/* triangle */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 20px solid black;
    top: -20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.team-section .arrow-up, .contact-section .arrow-up {
    top: 0;
    border-bottom-color: #2d3e50;
}

.rethink-section .arrow-up, .joinus-section .arrow-up {
    border-bottom-color: white;
}

/* splash */

.splash-head {
    background: url(/images/logo.png) center no-repeat;
    background-image : -webkit-linear-gradient(transparent,transparent), url(/images/logo.svg);
    background-image : linear-gradient(transparent,transparent), url(/images/logo.svg);
    background-size: contain;
    height: 162px; /* PHI */
    border: none;
}

.splash-container {
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.splash-inner-background-container {
    background-color: white;
    opacity: 0.6;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* content controls */

.content-wrapper {
    top: 88%;
}

/* lead-section */

section.lead-section {
  background-color: #CD5555;
  text-align: center;
}

.lead-section .arrow-up {
  border-bottom-color: #CD5555;
}

.lead-container {
    margin-left: auto;
    margin-right: auto;
}

.lead-message {
    color: white;
    font-size: 1.7em;
    top: 0.2em;
    position: relative;
}

.lead-message span {
    text-decoration: underline;
    cursor: pointer;
}

.lead-message span:hover {
    color: #2d3e50;
}

.lead-message div:first-child {
    text-align: right;
}
.lead-message div:last-child {
    text-align: left;
}

.lead-button-container {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
}

.lead-form .pure-g {
    margin-top: 0.8em;
}

.lead-form {
    top: -30px;
    position: relative;
    text-align: left;
    display: none;
    overflow: hidden;
    transition: height 5s ;
    -moz-transition: height 5s ; /* Firefox 4 */
    -webkit-transition: height 5s ; /* Safari and Chrome */
    -o-transition: height 5s ; /* Opera */
}

.lead-form fieldset {
    padding-bottom: 0;
}

.lead-form label {
    color: white;
}

.lead-button-container {
    text-align: center;
}

.button-wrapper-to-collapse {
    margin-top: 0.5em;
    color: white;
}

.button-collapse {
    cursor: pointer;
}

/* slogan section */

section.rethink-section h2 {
    color: #f47d20;
    font-size: 3em;
    margin: 1.5em 0 0em;
    margin-top: 1.5em;
}

section.rethink-section p {
    color: #777;
    font-size: 1.2em;
    margin-bottom: 1em;
}

section.rethink-section .pure-g {
    padding-top: 0;
}

section.rethink-section p:last-child {
    margin-bottom: 4em;
}

section.rethink-section .pure-u-1 {
    margin-top:3em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
}

.rethink-message {
    padding: 0 !important;
}

/* End of slogan section */

div.l-box {
    padding: 2em;
}

.contact-section .ribbon .pure-u-1 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

p {
    text-align: justify;
}

section h1 {
    font-size: 3em;
    text-align: center;
}

section h1.content-head {
    margin-top: 1em;
    margin-bottom: 1.5em;
}
/* contact section css */
.contact-section a.mail-wrapper, .contact-section a.mail-wrapper:hover, .contact-section a.mail-wrapper:visited {
    text-decoration: none;
    color: inherit;
}

.contact-section a.mail-wrapper:hover {
    color: #f47d20; /* skyport orange */
}
