img.management-images {
    max-height: 157px;
    max-width: 209px;
    border-radius: 100px;
}

div.team-card {
    margin-left: auto;
    margin-right: auto;
}

.team-section h1.content-head {
    color: white;
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
}

.team-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5em;
}

.team-info-wrapper div:first-child {
    color: #f47d20;
}

.team-inner-container {
    margin-bottom: 1.5em;
}

.team-info {
    /*padding-left: 20px;*/
    /*width: 54%;*/
}

.team-info-wrapper {
    margin-left: auto;
    text-align: center;
    width: 157px;
}

.team-head-pic {
    text-align: right;
    padding-right: 45px;
}

.team-head-pic.theTeam-padding {
    padding-top: 1.8em;
}

.team-head-pic.stefan-padding {
    padding-top: 0.7em;
}

.team-head-pic.mike-padding {
    padding-top: 0.8em;
}

.team-head-pic.will-padding {
    padding-top: 2em;
}

.team-head-pic.doug-padding {
    padding-top: 0.2em;
}

.team-head-pic.rob-padding {
    padding-top: 0.3em;
}

.team-content.rob-padding {
    padding-top: 1em;
}

@media (MAX-WIDTH:1413PX) {
    .team-content.rob-padding {
        padding-top: 0;
    }
}

@media (MIN-WIDTH: 1280PX) AND (MAX-WIDTH: 1413PX) {
   .team-head-pic.doug-padding {
       padding-top: 1.2em;
   } 
}

@media (MIN-WIDTH: 978PX) AND (MAX-WIDTH: 1110PX) {
    .team-head-pic.theTeam-padding {
        padding-top: 2.3em;
    }

    .team-head-pic.stefan-padding {
        padding-top: 0.8em;
    }

    .team-head-pic.mike-padding {
        padding-top: 1.9em;
    }

    .team-head-pic.will-padding {
        padding-top: 2.9em;
    }

    .team-head-pic.doug-padding {
        padding-top: 1.8em;
    }
}

@media (MAX-WIDTH: 977PX) AND (MIN-WIDTH: 768PX) {
    .team-head-pic.theTeam-padding {
        padding-top: 1.8em;
    }

    .team-head-pic.stefan-padding {
        padding-top: 1em;
    }

    .team-head-pic.mike-padding {
        padding-top: 0.9em;
    }

    .team-head-pic.will-padding {
        padding-top: 2.5em;
    }

    .team-head-pic.doug-padding {
        padding-top: 1em;
    }

    .team-content.rob-padding {
        padding-top: 0;
    }
}

@media (max-width: 767px) {
    .team-content.rob-padding {
        padding-top: 0;
    }

    div.team-card {
        text-align: center;
    }

    .team-container {
        font-size: 1.2em;
    }

    .team-container .pure-u-md-1-3:nth-child(4){
        margin-left: auto;
    }

    .team-info {
        padding-left: 0;
        width: 100%;
    }

    .team-head-pic {
        padding-right: 0;
    }

    .joinus-section .l-box-lrg.ribbon {
        border-bottom: 0;
    }

    .team-info .team-card{
        margin-top: 1em;
    }

    .team-card {
        padding-top:0;
    }

    .team-info-wrapper {
        margin-left: 0;
        text-align: center;
        width: 100%;
    }

}