img.management-images {
    max-height: 157px;
    max-width: 209px;
    border-radius: 100px;
}

div.team_card {
    width: 12em;
    margin: 0 auto;
    text-align: center;
}

div.team_card > div:nth-child(2) {
    color: #f47d20;
}

div.team_card > div:last-child {
    margin-bottom: 1em;
}

.team-section h1 {
    color: white;
    text-align: center;
    font-size: 3em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}